In [358]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import sklearn.preprocessing as skpre
%matplotlib inline

In [359]:
data = pd.read_csv('credit-data.csv')
data.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [360]:
data = data.drop("clientid", axis = 1)
data

            income        age          loan  default
0     66155.925095  59.017015   8106.532131        0
1     34415.153966  48.117153   6564.745018        0
2     57317.170063  63.108049   8020.953296        0
3     42709.534201  45.751972   6103.642260        0
4     66952.688845  18.584336   8770.099235        1
5     24904.064140  57.471607     15.498598        0
6     48430.359613  26.809132   5722.581981        0
7     24500.141984  32.897548   2971.003310        1
8     40654.892537  55.496853   4755.825280        0
9     25075.872771  39.776378   1409.230371        0
10    64131.415372  25.679575   4351.028971        0
11    59436.847123  60.471936   9254.244538        0
12    61050.346079  26.355044   5893.264659        0
13    27267.995458  61.576776   4759.787581        0
14    63061.960174  39.201553   1850.369377        0
15    50501.726689 -28.218361   3977.287432        0
16    43548.654711  39.574530   3935.544453        0
17    43378.175194  60.848318   3277.737553        0
18    20542.365073  61.690571   3157.442290        0
19    58887.357549  26.076093   4965.516066        0
20    23000.784002  31.761354   1148.118057        0
21    32197.620701 -52.423280   4244.057136        0
22    23329.319414  48.576975    222.622299        0
23    27845.800894  51.970624   4959.921226        0
24    65301.984029  48.840922   5465.267886        0
25    47451.630123  27.031741   5361.282716        0
26    63287.038908 -36.496976   9595.286289        0
27    45727.459870  55.839922   6376.822949        0
28    59417.805406        NaN   2082.625938        0
29    58842.891308  54.510948  10871.186790        0
...            ...        ...           ...      ...
1970  68047.925311  47.694520   4023.064765        0
1971  36275.735863  30.308184    644.384195        0
1972  52389.366848  54.969313  10398.820592        0
1973  23678.376111  47.466485   1779.814597        0
1974  37707.642948  31.344048    268.290971        0
1975  57753.568962  54.235915   5067.449964        0
1976  30529.963288  47.604402   6046.840845        0
1977  44022.268737  31.192627   1707.672870        0
1978  58533.884683  40.518963   7832.443321        0
1979  33702.531834  48.148404    922.036590        0
1980  40236.872067  52.580773   4354.314412        0
1981  62619.155988  43.999461   3959.611772        0
1982  50738.362193  45.993199   9719.562798        0
1983  64466.760138  33.327144   8537.369666        1
1984  64636.402186  60.886966   2583.106425        0
1985  22371.522191  39.142225   2291.856428        0
1986  67994.988470  38.622259   7289.014109        0
1987  49640.004702  20.542409   5760.858734        0
1988  42067.246446  24.270612   4601.606183        0
1989  43662.092688  25.252609   7269.596897        1
1990  34237.575419  34.101654   2658.090632        0
1991  26300.446554  45.539385   2317.393678        0
1992  30803.806165  23.250084    623.024153        0
1993  54421.410155  26.821928   3273.631823        0
1994  24254.700791  37.751622   2225.284643        0
1995  59221.044874  48.518179   1926.729397        0
1996  69516.127573  23.162104   3503.176156        0
1997  44311.449262  28.017167   5522.786693        1
1998  43756.056605  63.971796   1622.722598        0
1999  69436.579552  56.152617   7378.833599        0

[2000 rows x 4 columns]

In [361]:
media = data['age'][data.age > 0].mean()
print(media)
data.loc[data.age < 0, 'age'] = media
data.loc[pd.isnull(data['age']), 'age'] = media
print(data)

40.92770044906149
            income        age          loan  default
0     66155.925095  59.017015   8106.532131        0
1     34415.153966  48.117153   6564.745018        0
2     57317.170063  63.108049   8020.953296        0
3     42709.534201  45.751972   6103.642260        0
4     66952.688845  18.584336   8770.099235        1
5     24904.064140  57.471607     15.498598        0
6     48430.359613  26.809132   5722.581981        0
7     24500.141984  32.897548   2971.003310        1
8     40654.892537  55.496853   4755.825280        0
9     25075.872771  39.776378   1409.230371        0
10    64131.415372  25.679575   4351.028971        0
11    59436.847123  60.471936   9254.244538        0
12    61050.346079  26.355044   5893.264659        0
13    27267.995458  61.576776   4759.787581        0
14    63061.960174  39.201553   1850.369377        0
15    50501.726689  40.927700   3977.287432        0
16    43548.654711  39.574530   3935.544453        0
17    43378.175194  60.848318   3277.737553        0
18    20542.365073  61.690571   3157.442290        0
19    58887.357549  26.076093   4965.516066        0
20    23000.784002  31.761354   1148.118057        0
21    32197.620701  40.927700   4244.057136        0
22    23329.319414  48.576975    222.622299        0
23    27845.800894  51.970624   4959.921226        0
24    65301.984029  48.840922   5465.267886        0
25    47451.630123  27.031741   5361.282716        0
26    63287.038908  40.927700   9595.286289        0
27    45727.459870  55.839922   6376.822949        0
28    59417.805406  40.927700   2082.625938        0
29    58842.891308  54.510948  10871.186790        0
...            ...        ...           ...      ...
1970  68047.925311  47.694520   4023.064765        0
1971  36275.735863  30.308184    644.384195        0
1972  52389.366848  54.969313  10398.820592        0
1973  23678.376111  47.466485   1779.814597        0
1974  37707.642948  31.344048    268.290971        0
1975  57753.568962  54.235915   5067.449964        0
1976  30529.963288  47.604402   6046.840845        0
1977  44022.268737  31.192627   1707.672870        0
1978  58533.884683  40.518963   7832.443321        0
1979  33702.531834  48.148404    922.036590        0
1980  40236.872067  52.580773   4354.314412        0
1981  62619.155988  43.999461   3959.611772        0
1982  50738.362193  45.993199   9719.562798        0
1983  64466.760138  33.327144   8537.369666        1
1984  64636.402186  60.886966   2583.106425        0
1985  22371.522191  39.142225   2291.856428        0
1986  67994.988470  38.622259   7289.014109        0
1987  49640.004702  20.542409   5760.858734        0
1988  42067.246446  24.270612   4601.606183        0
1989  43662.092688  25.252609   7269.596897        1
1990  34237.575419  34.101654   2658.090632        0
1991  26300.446554  45.539385   2317.393678        0
1992  30803.806165  23.250084    623.024153        0
1993  54421.410155  26.821928   3273.631823        0
1994  24254.700791  37.751622   2225.284643        0
1995  59221.044874  48.518179   1926.729397        0
1996  69516.127573  23.162104   3503.176156        0
1997  44311.449262  28.017167   5522.786693        1
1998  43756.056605  63.971796   1622.722598        0
1999  69436.579552  56.152617   7378.833599        0

[2000 rows x 4 columns]

In [362]:
ss_income = skpre.StandardScaler()
ss_age = skpre.StandardScaler()
ss_loan = skpre.StandardScaler()

In [363]:
data.income = ss_income.fit_transform(np.array(data['income']).reshape(-1, 1))
data.age = ss_age.fit_transform(np.array(data['age']).reshape(-1, 1))
data.loan = ss_loan.fit_transform(np.array(data['loan']).reshape(-1, 1))

In [364]:
data_x = data.iloc[:, :3]
data_y = data.iloc[:, 3]
from sklearn.model_selection import train_test_split
data_x_train, data_x_test, data_y_train, data_y_test = train_test_split(data_x, data_y, test_size = 0.1)

In [365]:
from sklearn.naive_bayes import GaussianNB
classificador = GaussianNB()
classificador.fit(data_x_train, data_y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [366]:
cont_true, cont_false = 0, 0

for k in range(1700, 1999):
    resultado = classificador.predict([data.iloc[k, :3]])
    if resultado == data.iloc[k, 3]:
        cont_true += 1
    else:
        cont_false += 1
print("labels: ", classificador.classes_)
print("número de 0 e 1(label): ", classificador.class_count_)
print("probabilidade a priori de 0 e 1: ", classificador.class_prior_)

labels:  [0 1]
número de 0 e 1(label):  [1537.  263.]
probabilidade a priori de 0 e 1:  [0.85388889 0.14611111]

In [367]:
print(cont_true)
print(cont_false)

279
20

In [368]:
print("accuracy: ", cont_true/(cont_true + cont_false) * 100)

accuracy:  93.31103678929766